openapi: 3.0.3
info:
  title: FC온라인 API
  version: 1.0.0
  description: |-
    - 데이터는 매시 정각, 두 시간 전의 게임 데이터가 업데이트됩니다.
    - e.g. 오후 3시 5분에 캐릭터 정보 API 호출하면 오늘 오후 1시까지의 정보를 조회할 수 있습니다.
    - 게임 콘텐츠 변경으로 ouid가 변경될 수 있습니다. ouid 기반 서비스 갱신 시 유의해 주시길 바랍니다.     
servers:
  - url: 'https://open.api.nexon.com'
tags:
  - name: User
    description: 계정 정보 조회 

paths:
  /fconline/v1/id:
    get:
      tags:
        - User
      summary: 계정 식별자(ouid) 조회 
      description: 계정 식별자(ouid)를 조회합니다.
      operationId: fconline_get_user_by_nickname
      parameters:
        - name: x-nxopen-api-key
          in: header
          description: API KEY
          required: true
          schema:
            type: string
        - name: nickname
          in: query
          description: 닉네임
          required: true
          schema:
            type: string
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'

  /fconline/v1/user/basic:
    get:
      tags:
        - User
      summary: 기본 정보 조회 
      description: 기본 정보를 조회합니다.
      operationId: fconline_get_user_by_id
      parameters:
        - name: x-nxopen-api-key
          in: header
          description: API KEY
          required: true
          schema:
            type: string
        - name: ouid
          in: query
          description: 유저 고유 식별자
          required: true
          schema:
            type: string
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserBasic'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
                
  /fconline/v1/user/maxdivision:
    get:
      tags:
        - User
      summary: 역대 최고 등급 조회
      description: 유저별 역대 최고 등급과 달성일자를 조회합니다.
      operationId: fconline_get_maxdivision_by_id
      parameters:
        - name: x-nxopen-api-key
          in: header
          description: API KEY
          required: true
          schema:
            type: string
        - name: ouid
          in: query
          description: 계정 식별자
          required: true
          schema:
            type: string
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MaxDivision'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
                
  /fconline/v1/user/match:
    get:
      tags:
        - User
      summary: 유저의 매치 기록 조회
      description: |
        유저의 매치 종류별 기록을 조회합니다.
        * 유저가 플레이한 매치의 매치 고유 식별자 목록이 반환됩니다.
        * 반환되는 매치 정보는 가장 최근 플레이한 매치부터 내림차순입니다.
        * {offset} 과 {limit}을 사용하여 pagination이 가능합니다
      operationId: fconline_get_match_by_id (중복되지 않아야 합니다.)
      parameters:
        - name: x-nxopen-api-key
          in: header
          description: API KEY
          required: true
          schema:
            type: string
        - name: ouid
          in: query
          description: 계정 식별자
          required: true
          schema:
            type: string
        - name: matchtype
          in: query
          description: 매치 종류 (/metadata/matchtype API 참고)
          required: true
          schema:
            type: integer
        - name: offset
          in: query
          description: 리스트에서 가져올 시작 위치
          required: false
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: 리스트에서 가져올 갯수(최대 100개)
          required: false
          schema:
            type: integer
            default: 100
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MatchIdList'
              example:
                ["64f0a0000a000c2518b00016"]  
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
                
  /fconline/v1/user/trade:
    get:
      tags:
        - User
      summary: 유저의 거래 기록 조회
      description: |
        거래 종류{tradetype}로 유저의 이적시장 거래 종류별 기록을 조회합니다. (본인 거래 기록만 조회 가능)
        * 유저가 거래한 선수의 아이디와 등급, 가치가 반환됩니다
        * 반환되는 매치 정보는 가장 최근 거래이력부터 내림차순입니다
        * {offset} 과 {limit}을 사용하여 pagination이 가능합니다
      operationId: fconline_get_market_by_tradetype
      parameters:
        - name: x-nxopen-api-key
          in: header
          description: API KEY
          required: true
          schema:
            type: string
        - name: tradetype
          in: query
          description: 거래 종류 (구입 buy, 판매 sell)
          required: true
          schema:
            type: string
            example: buy
        - name: offset
          in: query
          description: 리스트에서 가져올 시작 위치
          required: false
          schema:
            type: integer
            default: 0
        - name: limit
          in: query
          description: 리스트에서 가져올 갯수(최대 100개)
          required: false
          schema:
            type: integer
            default: 100
      responses:
        '200':
          description: SUCCESS
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradeList'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '429':
          description: Too Many Requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorMessage'
components:
  schemas:
    User:
      type: object
      properties:
        ouid:
          type: string
          description: 계정 식별자 
          
    UserBasic:
      type: object
      properties:
        ouid:
          type: string
          description: 계정 식별자 
        nickname:
          type: string
          description: 유저 닉네임
          example: "닉네임"
        level:
          type: integer
          description: 유저 레벨
          example: 1          
          
    MaxDivision:
      type: object
      properties:
        matchType:
          type: integer
          description: 매치 종류(/metadata/matchtype API 참고)
          example: 50
        division:
          type: integer
          description: 등급 식별자 (공식경기 /metadata/division API, 볼타모드 /metadata/division_volta API 참고)
          example: 1100
        achievementDate:
          type: string
          description: 최고 등급 달성 일자 (UTC0)
          example: "2023-12-14T22:23:00"
          
    MatchIdList: 
      type: array
      description: 유저가 플레이한 매치의 고유 식별자 목록
      items:
        properties:
          matchId:
            type: string
            description: 매치 고유 식별자
        
    TradeList:
      type: array
      description: 거래 정보
      items:
        properties:
          tradeDate:
            type: string
            description: 거래 일자 (UTC0) (구매일 경우, 구매 등록 시점 / 판매일 경우, 판매 완료 시점) 
            example: "2023-12-14T09:55:45"
          saleSn:
            type: string
            description: 거래 고유 식별자
            example: 5dfecf50eff20f2468e00000
          spid:
            type: integer
            description: 선수 고유 식별자 (/metadata/spid API 참고)
            example: 298199236
          grade:
            type: integer
            description: 거래 선수 강화 등급
            example: 1
          value:
            type: integer
            description: 거래 선수 가치(BP)
            example: 10000
            
    ErrorMessage:
      type: object
      properties:
        error:
          type: object
          properties:
            name:
              type: string
              description: 에러 명
              example: string
            message:
              type: string
              description: 에러 설명
              example: stirng
